
div.head
{
    background-image:url(bg-header.jpg);
    width:100%;
    height:75px;
    padding:20px; 
}

span.header
{
    font-size:40px;
    color:white;
    padding:30px;
}
nav.menu
{
    color:white;
    float:right;
}
h5{
    display:inline;
    color:white;
}
h6.menu 
{
    display:inline;
    color:white;
}

td.texas
{
    background:url(texasb.jpg);
}
div.profile
{
    background-color:orange;
    border:1px solid black;
    width:25%;
}
img.slider
{
    width:400px;
    height:300px;
    margin-left:auto;
    margin-right:auto;    
    display:block;
}
img.profile
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:235px;
    border:1px solid black;
}
div.texas
{
    background-image:url(texasb.jpg);
    float:left;
}
img.texas
{
    background-image:url(texas.jpg);
    align-right:auto;
    align-left:auto:
}
