
<!DOCTYPE HTML>

<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}layout.css">

</head>

<body>


<div class="header_div">

    <span class="header"> The Rene Trevino Website </span>

</div>

<div class="profile" >
    <p> profile pic </p>
    <img class="profile" src={{ STATIC_URL }}rtrevino.jpg/>

    <p> i am a 23 year senior computer science major at the university of texas. i grew up on lake austin where i a
ttended mccallum high school. now i am finishing my last year at ut and i plan to work in the cs field after i grad
uate.
    </p>

    <ul>
	<li> HOME </li>
	<li> BIO </li>
	<li> RESUME </li>
	<li> PHOTOS </li>
	<li> VIDEOS </li>
    </ul>

</div>

<div class="rhome">

    <p> slide bio </p>
</div>

<p> Austinite. Texas Wake. Hook 'em! </p>


    <p> i am a 23 year senior computer science major at the university of texas. i grew up on lake austin where i a
ttended mccallum high school. now i am finishing my last year at ut and i plan to work in the cs field after i grad
uate.
    </p>
</body>
</html> 


